# Importação das bibliotecas Básicas

In [14]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
from apyori import apriori

# Exploração dos dados

In [16]:
base_mercado = pd.read_csv(r'C:\Users\brcalazans\Desktop\Pessoal\Machine Learning e Data Science\Bases de dados\mercado.csv', header=None)

In [17]:
base_mercado.shape

(10, 4)

In [18]:
base_mercado.tail()

          0       1    2    3
5  manteiga     NaN  NaN  NaN
6       pao     NaN  NaN  NaN
7    feijao     NaN  NaN  NaN
8     arroz  feijao  NaN  NaN
9     arroz     NaN  NaN  NaN

In [19]:
base_mercado.describe()

            0    1    2         3
count      10    5    4         2
unique      7    4    2         1
top     leite  pao  pao  manteiga
freq        2    2    2         2

In [20]:
base_mercado

          0        1         2         3
0     leite  cerveja       pao  manteiga
1      cafe      pao  manteiga       NaN
2      cafe      pao  manteiga       NaN
3     leite     cafe       pao  manteiga
4   cerveja      NaN       NaN       NaN
5  manteiga      NaN       NaN       NaN
6       pao      NaN       NaN       NaN
7    feijao      NaN       NaN       NaN
8     arroz   feijao       NaN       NaN
9     arroz      NaN       NaN       NaN

# Transformação dos Dados

In [39]:
transacoes = []
for i in range(len(base_mercado)):
    transacoes.append([str(base_mercado.values[i, j]) for j in range(base_mercado.shape[1])])

In [40]:
transacoes

[['leite', 'cerveja', 'pao', 'manteiga'],
 ['cafe', 'pao', 'manteiga', 'nan'],
 ['cafe', 'pao', 'manteiga', 'nan'],
 ['leite', 'cafe', 'pao', 'manteiga'],
 ['cerveja', 'nan', 'nan', 'nan'],
 ['manteiga', 'nan', 'nan', 'nan'],
 ['pao', 'nan', 'nan', 'nan'],
 ['feijao', 'nan', 'nan', 'nan'],
 ['arroz', 'feijao', 'nan', 'nan'],
 ['arroz', 'nan', 'nan', 'nan']]

In [41]:
type(transacoes)

list

# Apriori

In [49]:
regras = apriori(transacoes, min_support = 0.3, min_confidence = 0.8, min_lift=2)
resultados = list(regras)

In [71]:
len(resultados)

3

In [51]:
resultados

[RelationRecord(items=frozenset({'cafe', 'manteiga'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)]),
 RelationRecord(items=frozenset({'cafe', 'pao'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0)]),
 RelationRecord(items=frozenset({'cafe', 'manteiga', 'pao'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'manteiga', 'pao'}), confidence=1.0, lift=2.5), OrderedStatistic(items_base=frozenset({'cafe', 'manteiga'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'cafe', 'pao'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)])]

In [53]:
resultados[2]

RelationRecord(items=frozenset({'cafe', 'manteiga', 'pao'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'manteiga', 'pao'}), confidence=1.0, lift=2.5), OrderedStatistic(items_base=frozenset({'cafe', 'manteiga'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'cafe', 'pao'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)])

RelationRecord(items=frozenset({'cafe', 'manteiga', 'pao'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'manteiga', 'pao'}), confidence=1.0, lift=2.5), OrderedStatistic(items_base=frozenset({'cafe', 'manteiga'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'cafe', 'pao'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)])

In [54]:
resultados[2][0]

frozenset({'cafe', 'manteiga', 'pao'})

In [55]:
resultados[2][1]

0.3

In [56]:
r = resultados[2][2]
r

[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'manteiga', 'pao'}), confidence=1.0, lift=2.5),
 OrderedStatistic(items_base=frozenset({'cafe', 'manteiga'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0),
 OrderedStatistic(items_base=frozenset({'cafe', 'pao'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)]

In [57]:
r[0]

OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'manteiga', 'pao'}), confidence=1.0, lift=2.5)

In [58]:
r[2][0]

frozenset({'cafe', 'pao'})

In [88]:
A = []
B = []
suporte = []
confianca = []
lift = []

for resultado in resultados:
    #suporte.append(resultado[1])
    s = resultado[1]
    #print(s)
    result_rules = resultado[2]
    for result_rule in result_rules:
        a = list(result_rule[0])
        b = list(result_rule[1])
        c = result_rule[2]
        l = result_rule[3]
        A.append(a)
        B.append(b)
        suporte.append(s)
        confianca.append(c)
        lift.append(l)

In [89]:
A

[['cafe'], ['cafe'], ['cafe'], ['cafe', 'manteiga'], ['cafe', 'pao']]

In [90]:
B

[['manteiga'], ['pao'], ['manteiga', 'pao'], ['pao'], ['manteiga']]

In [92]:
suporte

[0.3, 0.3, 0.3, 0.3, 0.3]

In [93]:
confianca

[1.0, 1.0, 1.0, 1.0, 1.0]

In [94]:
lift

[2.0, 2.0, 2.5, 2.0, 2.0]

In [95]:
rules_df = pd.DataFrame({'A': A, 'B': B, 'Suporte': suporte, 'Confianca': confianca, 'Lift': lift})

In [97]:
rules_df.sort_values(by='Lift', ascending=False)

                  A                B  Suporte  Confianca  Lift
2            [cafe]  [manteiga, pao]      0.3        1.0   2.5
0            [cafe]       [manteiga]      0.3        1.0   2.0
1            [cafe]            [pao]      0.3        1.0   2.0
3  [cafe, manteiga]            [pao]      0.3        1.0   2.0
4       [cafe, pao]       [manteiga]      0.3        1.0   2.0

# ECLAT

In [98]:
base_mercado

          0        1         2         3
0     leite  cerveja       pao  manteiga
1      cafe      pao  manteiga       NaN
2      cafe      pao  manteiga       NaN
3     leite     cafe       pao  manteiga
4   cerveja      NaN       NaN       NaN
5  manteiga      NaN       NaN       NaN
6       pao      NaN       NaN       NaN
7    feijao      NaN       NaN       NaN
8     arroz   feijao       NaN       NaN
9     arroz      NaN       NaN       NaN

In [99]:
from pyECLAT import ECLAT
eclat = ECLAT(data=base_mercado)

In [101]:
eclat.df_bin

   pao  manteiga  leite  cerveja  cafe  feijao  arroz
0    1         1      1        1     0       0      0
1    1         1      0        0     1       0      0
2    1         1      0        0     1       0      0
3    1         1      1        0     1       0      0
4    0         0      0        1     0       0      0
5    0         1      0        0     0       0      0
6    1         0      0        0     0       0      0
7    0         0      0        0     0       1      0
8    0         0      0        0     0       1      1
9    0         0      0        0     0       0      1

In [102]:
eclat.uniq_

[nan, 'pao', 'manteiga', 'leite', 'cerveja', 'cafe', 'feijao', 'arroz']

In [103]:
indices, suporte = eclat.fit(min_support=0.3, min_combination=1, max_combination=3)

3it [00:00, 34.57it/s]

Combination 1 by 1

3it [00:00, 100.27it/s]
1it [00:00, 83.55it/s]

Combination 2 by 2
Combination 3 by 3

In [104]:
indices

{'pao': [0, 1, 2, 3, 6],
 'manteiga': [0, 1, 2, 3, 5],
 'cafe': [1, 2, 3],
 'pao & manteiga': [0, 1, 2, 3],
 'pao & cafe': [1, 2, 3],
 'manteiga & cafe': [1, 2, 3],
 'pao & manteiga & cafe': [1, 2, 3]}

In [105]:
suporte

{'pao': 0.5,
 'manteiga': 0.5,
 'cafe': 0.3,
 'pao & manteiga': 0.4,
 'pao & cafe': 0.3,
 'manteiga & cafe': 0.3,
 'pao & manteiga & cafe': 0.3}